# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
node_modules
.idea

#compressed JS
app/js/compressed.js
app/js/compressed.js.map

#dist folder created by oghliner
dist

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

www-built
www-ghpages
www-ghdeploy/
