
/* ==|== primary styles =====================================================
   Author: Bill Walker
   ========================================================================== */

.bar .item {
  padding: 10px;
  border-right: solid 4px rgba(255,255,255,0.7);
}

.bar {
  display: flex;
  align: center;
}

#mapdiv {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#trafficlight {
  position: absolute;
  z-index: 10000;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  top: 0.5em;
  right: 0.5em;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0,60,136,0.5);
  border: solid 4px rgba(255,255,255,0.7);
  border-radius: 4px;
}

/* TODO: this collides with css/openlayersorg-theme-default-style.css */

#shotclockContainer {
  position: absolute;
  z-index: 10000;
  top: 1px;
  left: 1px;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 100%;
  width: 100%;
}

.light-meh {
  background-color: #C4B11B;
  stroke: #C4B11B;
  fill: none;
}

.light-white {
  background-color: #FFFFFF;
  stroke: #FFFFFF;
  fill: none;
}

.light-harsh {
  background-color: #CC0000;
  stroke: #CC0000;
  fill: none;
}

.light-best {
  background-color: #0F960F;
  stroke: #0F960F;
  fill: none;
}

.light-night {
  background-color: #000000;
  stroke: #000000;
  fill: none;
}

.notification-title {
  font-size: 600%;
  fill: none;
}

.notification-subtitle {
  font-size: 120%;
  fill: none;
}
